<!DOCTYPE html>
{% extends "studentApp/base.html" %}
{% block base_block %}
<div class="container-fluid main-head1">
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron main-head2">
        <h1 class="display-3">RAM CAREER INSTITUTE</h1>
        <p class="lead" id="head-paragraph">A Premier Institute for JEE Main/Advance , NEET(UG) / AIIMS & Fundation(CLASS 6<sup>th</sup> – 10<sup>th</sup>).</p>
      </div>
    </div>
    <div class="col-md-4"><br>
        <div class="jumbotron">
          <h2>Student Login</br>_______</h2><br>
          <form class="" action="index.html" method="post">
            <input type="text" name="" value="Name">
            <input type="text" name="" value="Phone">
            <input type="submit" name="" value="Login">
          </form>
        </div>
    </div>

    </div>
</div>

{% endblock %}
