<!DOCTYPE html>
{% extends "rciApp/base.html" %}
{% block base_block %}
<div class="container-fluid main-head1">
  <h2>Notification</h2><hr>
  {% if note %}
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Notification</th>
    </tr>
  </thead>
  <tbody>
    {% for p in note %}
    <tr>
      <td>{{p.date|date:"d-m-y"}}</td>
      <td>{{p.notice}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <h2>Data not found !</h2>
{% endif %}
</div>

{% endblock %}
